.about-page #buildingLogo {
    width: 35vw;
    float: right;
    margin: 50px 30px 30px 30px;
}

/* .imageGalery img {
    border-radius: 5px;
    border: solid 5px #124966;
} */

figure {
    color: #124966;
    display: inline-block;
    font-family: 'Font-Italic'
}

.about-page a {
    color: #00a2d7;
}

.about-page a:hover {
    font-family: "Font-Italic";
    letter-spacing: 1.8px;
}

