.contact-page .italics {
    text-align: center;
}

.contact-page .infoBox {
    width: 400px;
    padding: 10px 20px;
    border: solid 5px #124966;
    text-align: left;
    margin: 50px;
    margin-right: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    float: right;
}

.contact-page .infoBox p {
    font-size: 14px;
}

.contact-page #phoneNum {
    margin-top: 15px;
    margin-bottom: 0px;
}

.contact-page #faxNum {
    margin-top: 15px;
    margin-bottom: 0px;
}

.contact-page #hours {
    margin-top: 15px;
    margin-bottom: 0px;
}



@media print {
    .contact-page .infoBox {
        width: 33vw;
    }

    .contact-page .infoBox p {
        font-size: 10px;
    }

    .contact-page .infoBox #map {
        width: 80%;
        margin: 10 auto;
    }
}