@media screen and (max-width: 1000px){
    .contact-page .infoBox {
        float: none;
        margin: 50px auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 90%;
        margin-top: 0px;  
    }
}

@media screen and (max-width: 768px) {
    .contact-page .infoBody {
        margin: 0 auto;
    }

    .contact-page .infoBox {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        max-width: 400px;
        padding: 10px;
    }

    .contact-page .infoBox p {
        margin-left: 10px;
    }

    .contact-page .infoBox #phoneIcon {
        margin-left: 10px;
    }

    .contact-page .infoBox .button {
        margin-left: 10px;
        font-size: 12px;
    }

    .contact-page .infoBox #map {
        width: 75%;
        margin: 5px auto;
    }


}