@media screen and (max-width: 866px) {
    
    .patients-page .infoBox {
        width: 90%;
        max-width: 400px;
        height: 400px;
        float: none;
        margin: 20px auto;
    }

    .patients-page .button {
        width: 290px;
        font-size: 18px;
    }

    .patients-page .infoBox #phoneNum {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 768px) {
    .patients-page .infoBox {
        height: 310px;
        width: 100%;
    }

    .patients-page .infoBox #faxNum {
        margin-top: 15px;
    }

    .patients-page .infoBox #hours {
        margin-top: 15px;
    }
}