@media screen and (max-width: 768px) {
    
    .patients-page .infoBox {
        width: 90%;
        max-width: 400px;
        height: 300px;
        float: none;
        margin: 20px auto;
    }

    .patients-page .button {
        width: 290px;
        font-size: 18px;
    }
}