.patients-page .italics {
    text-align: center;
}

.patients-page .infoBox{
    float: right;
    width: 400px;
    padding: 10px 20px;
    border: solid 5px #124966;
    font-size: 18px;
    text-align: left;
    height: 360px;
    margin: 10px 0 30px 30px;
}

@media print {
    .patients-page .infoBox {
        width: 33vw;
        height: max-content;
        margin-top: 0;
    }
}
