@media screen and (max-width: 1250px) {
    .patients-page { 
        margin: 40px auto;
        width: 100vw;
        padding-bottom: 100px;
    }
    
    .patients-page h1 {
        margin: 150px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    
    .patients-page .infoBox {
        width: 90%;
        max-width: 400px;
        height: 300px;
        float: none;
        margin: 20px auto;
    }

    .patients-page h1 {
        margin: 100px 0 0 0;
        font-size: 40px;
    }

    .patients-page h2 {
        font-size: 30px;
        margin-top: 0;
    }

    .patients-page p {
        font-size: 14px;
    }

    .infoBody {
        text-align: left;
        padding: 30px 0 20px 0;
        margin: 0 auto;
        width: 90%;
    }

    .patients-page .button {
        width: 290px;
        font-size: 18px;
    }
}