.providers-page img {
    width: 300px;
    float: right;
    margin: 0 0 30px 30px;
    border: solid 5px #124966;
    border-radius: 10px;
}

.provider {
    padding: 0 0 50px 75px; 
    width: 90%;
    text-align: center;
}  

@media print {
    .provider {
        break-after: always;
    }
}