@media screen and (max-width: 768px) {
    .resource-page ul {
        font-size: 12px; 
        padding-left: 20px;
    }

    .resource-page p {
        margin-top: 5px;
        font-size: 20px;
    }
}