.resource-page p {
    margin: 50px 0 30px 0;
    font-size: 30px;
    text-align: center;
    color: #124966;
    font-family: "Trajan-Pro";
}

.resource-page ul {
    text-align: left;
    font-size: 20px; 
}

.resource-page li {
    margin: 20px 0;
}

.resource-page li a {
    color:#00a2d7;
}

.resource-page li a:hover {
    font-family: "Font-Italic";
    letter-spacing: 1px;
}