@media only screen and (max-width: 1000px) {   
    #nav-bar {
        height: 100px;
        width: 100vw;
        display: flex;
        align-items: center;
    }

    #logo-container {
        height: 100%;
        width: 90vw;
        margin: 0;
        display: flex;
        align-items: center;
        justify-items: start;
    }

    #logo {
        height: 75px;
    }

    .icon {
        display: block;
    }

    #desktopNav {
        display: none;
    }

    #mobileNav {
        display: none;
        background-color: #124966e1;
        padding: 10px;
        margin: 0;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 100px;
        right: 0px;
    }

    #mobileNav .navbutton {
        display: block;
        background-color: transparent;
        padding: 5px 5px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 100px;
        background-color: #124966;
        text-align: center;
    }

}

@media only screen and (max-width: 600px) { 
    #nav-bar {
        height: 75px;
    }

    #mobileNav {
        top: 75px;
    }

    #logo {
        height: 55px;
    }

    #logo-container p {
        font-size: 13px;
    }

}