#nav-bar {
    width: 250px;
    height: 100vh;
    font-family: 'Font-Regular';
    text-align: center;
    background-color: #00a2d7;
    position: fixed;
    top: 0;
    left: 0;
    color: #F1F2F5;
    font-size: 20px;
}

#logo-container {
    margin: 50px auto;
    
}

a {
    text-decoration: none;
}

a:visited {
    color: #F1F2F5;
    text-decoration: none;
}

#logo {
    height: 125px;
    margin: 10px;
}

#logo-container p {
    margin: 5px;
    font-size: 16px;
    font-family: 'Trajan-Pro';
}

#icons {
    align-items: center;
    justify-content: right;
}

#return-up {
    height: 50px;
    color: #E6D4D4;
    opacity: 0;
    transition: all 0.125s;
    margin: 25px;
    position: fixed;
    bottom: 0px;
    right: 0px
}

#return-up-mobile {
    height: 50px;
    color: #E6D4D4;
    opacity: 0;
    transition: all 0.125s;
    margin: 25px 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
    z-index: 10;
}

#desktopNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbutton {
    border: none;
    background-color: inherit;
    color: #F1F2F5;
    font-size: 16px;
    font-family: 'Trajan-Pro';
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    width: max-content;
}

#desktopNav .navbutton:hover {
    color: #124966;
    cursor: pointer;
}

#desktopNav .navbutton::after {
    content: '';
    margin-top: 5px;
    display: block;
    width: 0;
    height: 2px;
    background-color: #124966;
    transition: width .3s;
}

#desktopNav .navbutton:hover::after {
    width: 100%;
    transition: width .3s;
} 

.icon {
    display: none;
    height: 60px;
    margin: 0 60px 0 0;
    grid-area: return;
    justify-self: end;
}

#footer {
    font-size: 10px;
    text-align: right;
    padding: 5px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 2px
}

#phoneIcon{
    height: 12px;
    padding: 0px 10px 0px 0px;
}

#phoneNum {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
}

#mobileNav {
    display: none;
}

#mobileNav .navbutton {
    display: none;
}

@media screen and (max-height: 800px) {
    #logo-container {
        margin: 20px auto;
    }

    .navbutton::after {
        margin-top: 2px;
    }
    
}